In [1]:
import pandas as pd

In [2]:
carsRaw = pd.read_csv("../data/cars.csv")

In [3]:
carsRaw.head()

,Unnamed: 0,Make,Type,Year,Origin,Color,Options,Engine_Size,Fuel_Type,Gear_Type,Mileage,Region,Price,Negotiable
0,6153,Toyota,Camry,2020,Saudi,Brown,Semi Full,2.5,Gas,Automatic,38000,Riyadh,1364,False
1,4434,Toyota,FJ,2012,Saudi,Black,Full,4.0,Gas,Automatic,35000,Riyadh,70000,False
2,3537,Chevrolet,Suburban,2009,Saudi,White,Standard,5.3,Gas,Automatic,255,Riyadh,36000,False
3,1666,Ford,Explorer,2016,Other,White,Full,3.5,Gas,Automatic,128644,Riyadh,118000,False
4,3513,Toyota,Corolla,2018,Saudi,White,Standard,1.6,Gas,Automatic,19190,Jeddah,55000,False

In [4]:
carsRaw.shape

(6428, 14)

In [5]:
carsRaw[carsRaw["Price"] <= 0]

,Unnamed: 0,Make,Type,Year,Origin,Color,Options,Engine_Size,Fuel_Type,Gear_Type,Mileage,Region,Price,Negotiable
6,6220,Lexus,LS,1998,Other,Red,Full,4.6,Gas,Automatic,400,Abha,0,True
8,4507,Chevrolet,Tahoe,2013,Other,Black,Standard,5.3,Gas,Automatic,350,Dammam,0,True
9,3456,Toyota,4Runner,2013,Saudi,Another Color,Full,4.0,Gas,Manual,41129,Riyadh,0,True
11,7395,Toyota,Previa,2010,Gulf Arabic,Grey,Standard,4.0,Gas,Automatic,300,Qassim,0,True
12,3014,Chevrolet,Tahoe,2016,Saudi,Golden,Standard,5.3,Gas,Automatic,196000,Jeddah,0,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6415,6253,Chevrolet,Caprice,2014,Saudi,Another Color,Standard,6.0,Gas,Automatic,195,Riyadh,0,True
6416,7932,Hyundai,Accent,2019,Saudi,Blue,Standard,1.4,Gas,Automatic,65000,Riyadh,0,True
6418,4489,Lexus,LX,2014,Gulf Arabic,Golden,Full,5.7,Gas,Automatic,128000,Tabouk,0,True
6421,3671,Nissan,Patrol,1994,Gulf Arabic,Black,Semi Full,4.5,Gas,Manual,400000,Riyadh,0,True
6427,1146,Ford,Expedition,2006,Other,Black,Full,5.4,Gas,Automatic,341,Al-Jouf,0,True

In [6]:
carsNoZeros = carsRaw.drop(carsRaw[carsRaw["Price"] <= 0].index).reset_index()

### Save the new data frame to csv in data dir

In [7]:
carsNoZeros.to_csv("../data/carsNoZeros.csv")